<%- include("partials/header.ejs") %>
    <div class="content col-6 col-sm-6 col-md-10 col-lg-10 col-xl-10">
            <div class="posts mt-3 col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                    <article class="blog blog-post rounded pb-3 px-3">
                      <h2 class="mt-3">
                        Title
                      </h2>
                      <p class="date blog-post-meta">author</p>
                      <hr>
                      <p class="mb-3">
                        ccccc
                      </p>
                    </article>
            </div>
            <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <article class="blog blog-post rounded pb-3 px-3">
                  <h2 class="mt-3">
                    cake
                  </h2>
                  <p class="date blog-post-meta">ice cream</p>
                  <hr>
                  <p class="mb-3">
                    brownie
                  </p>
                </article>
            </div>
            <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <article class="blog blog-post rounded pb-3 px-3">
                  <h2 class="mt-3">
                    cake
                  </h2>
                  <p class="date blog-post-meta">ice cream</p>
                  <hr>
                  <p class="mb-3">
                    brownie
                  </p>
                </article>
            </div>
            <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <article class="blog blog-post rounded pb-3 px-3">
                  <h2 class="mt-3">
                    cake
                  </h2>
                  <p class="date blog-post-meta">ice cream</p>
                  <hr>
                  <p class="mb-3">
                    brownie
                  </p>
                </article>
            </div>
            <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
              <article class="blog blog-post rounded pb-3 px-3">
                <h2 class="mt-3">
                  cake
                </h2>
                <p class="date blog-post-meta">ice cream</p>
                <hr>
                <p class="mb-3">
                  brownie
                </p>
              </article>
          </div>
          <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
              <article class="blog blog-post rounded pb-3 px-3">
                <h2 class="mt-3">
                  cake
                </h2>
                <p class="date blog-post-meta">ice cream</p>
                <hr>
                <p class="mb-3">
                  brownie
                </p>
              </article>
          </div>
          <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
              <article class="blog blog-post rounded pb-3 px-3">
                <h2 class="mt-3">
                  cake
                </h2>
                <p class="date blog-post-meta">ice cream</p>
                <hr>
                <p class="mb-3">
                  brownie
                </p>
              </article>
          </div>
    </div>
</div>