<%- include("partials/header.ejs") %>
    <div class="content col-6 col-sm-6 col-md-10 col-lg-10 col-xl-10">
        <div class="posts searchBar mt-3 col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
            <form class="bar" action="/search" method="get">
                <input type="text" name="search" id="search" autocomplete="off" placeholder="Enter book name, author or isbn">
                <div class="list">
                    <ul id="dropdown"></ul>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>