html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
 }

.alink {
    display: inline-block;
    background-color: #000;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    width: 70px;
    text-align: center;
}

.container-flex {
    display: flex;
    min-height: 100vh!important;
    width: 100%;
    margin:0;
    padding:0;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    background-image: url('../photo/desk.png');
}

.edit {
    background-color: #000;
    color: white;
}

.front {
    border: 1px solid white;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
}

.list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.listItem {
    width: 420px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.listItem div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listItem img {
    margin-right: 5px;
}

.listItem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.listItem p {
    margin: 0;
    display: inline;
}

.posts {
    background-color: #F1D6AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.revForm {
    font-weight: bold;
}

.review {
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sidebar {
    position: fixed;
    width: 205px;
    height: 100vh;
    background-color: #402218;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

.sortBar {
    display: flex;
}

.space {
    height: 100vh;
    width: 200px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#dropdown {
    margin-bottom: 0;
    padding: 0;
    align-items: center;
}

::placeholder {
    text-align: center; 
}

a, button, .f1, input[type=text], p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button.sort {
    border: 5px solid #F1D6AB;
    background-color: #fff;
    border-radius: 4px;
    height: 40px;
}

h3, label, .revForm {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-style: normal;
}

input[type=date] {
    width: 52%;
}

input[type=text] {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-size: 18px;
    width: 600px;
    border-radius: 5px;
}

select {
    border: 5px solid #F1D6AB;
    border-radius: 4px;
    height: 40px;
}

@media (max-width: 768px) {
    .alink {
        margin: 3px;
    }

    .bottom, .info, .listItem, .top {
        width: 100px;
    }

    .listItem {
        padding: 0;
        margin: 10px;
    }

    .posts, .review {
        width: 200px;
    }

    .review {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .sidebar>p, h3 {
        font-size: 8pt;
    }

    .top {
        flex-direction: column;
    }

    ::placeholder {
        font-size: 5pt;
    }
    
    input[type=date] {
        width: 100%;
    }
    
    input[type=text] {
        width: 100px;
    }
}
