html, body {
    margin:0;
    padding:0;
    height:100%;
 }
 .container-flex {
    display: flex;
    min-height: 100vh!important;
    margin:0;
    padding:0;
    background-image: url('../photo/desk.png');
}

.space {
    height: 100vh;
    width: 200px;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #402218;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.posts {
    background-color: #F1D6AB;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.bar input[type=text] {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-size: 18px;
    width: 600px;
    border-radius: 5px;
}
.listItem {
    width: 420px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.listItem img {
    margin-right: 5px;
}

.listItem div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.listItem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
#dropdown {
    margin-bottom: 0;
    padding: 0;
    align-items: center;
}

.listItem p {
    margin: 0;
    display: inline;
}

.list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the dropdown list horizontally */
}

.searchbar {
    display: flex;
    justify-content: center;
}

.review {
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.revForm {
    font-weight: bold;
}

.coverDiv {
    display: flex;
    justify-content: center;
}

.sidebar ul {
    text-align: left;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

::placeholder {
    text-align: center; 
 }

 select {
    border: 5px solid #F1D6AB;
    border-radius: 4px;;
    height: 40px;
 }

button.sort {
    border: 5px solid #F1D6AB;
    background-color: #fff;
    border-radius: 4px;
    height: 40px;
}